<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>react和h5项目的逻辑.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>504722634.77361202</real>
				<key>lastModification</key>
				<real>504722634.77361202</real>
				<key>version</key>
				<dict>
					<key>66d7e400bdb8d091be783e1b414286df14b849bc96dd4d6f8f309979550aef99</key>
					<integer>10</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>react和h5项目的逻辑.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>66d7e400bdb8d091be783e1b414286df14b849bc96dd4d6f8f309979550aef99</key>
			<integer>16</integer>
		</dict>
	</dict>
</dict>
</plist>
